.container {
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #8ee4e5;
  color: black;
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 2rem;
  border-color: blue;
  border-width: 10px;
  gap: 1rem;
  padding: 3rem;
}

.img_class {
  border-radius: 25%;
  width: 25rem;
  padding: 2rem;
}
.text {
  padding-top: 5rem;
  font-size: 1.5rem;
  padding-right: 2rem;
}

button {
  text-align: center;
  align-items: center;
  margin-left: 7rem;
  background-color: var(--primary);
  border-radius: 2rem;
  height: 4rem;
  width: 60%;
}
.discord_div {
  align-items: center;
  text-align: center;
  padding-left: 25%;
  display: flex;
  gap: 1.25rem;
  font-size: 1.5rem;
}
